
<div class="container mt-5">
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2000">
   <div class="carousel-inner mt-4 mb-4" >
     <div class="carousel-item active">
       <img  src="https://images.unsplash.com/photo-1532949293134-3eb646d213f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
       <img src="https://images.unsplash.com/photo-1541367777708-7905fe3296c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1372&q=80" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
       <img src="https://images.unsplash.com/photo-1460398495418-62c9b5d79fbf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80" class="d-block w-100" alt="...">
     </div>
   </div>
 </div>
</div>

<div class="container mt-5 mb-5">
  <div class="mb-5">
    <h2 class="text-success">What is Art?</h2>
    <p class="text-justify">Art is a diverse range of human activities in creating visual, auditory or performing artifacts (artworks), expressing the author's
      imaginative, conceptual ideas, or technical skill, intended to be appreciated primarily for their beauty or emotional power.
      Other activities related to the production of works of art include the criticism of art, and the study of the history of art.
      The three classical branches of visual art are painting, sculpture and architecture.[3] Music, theatre, film, dance, and other
      performing arts, as well as literature and other media such as interactive media, are included in a broader definition of the arts.
      Until the 17th century, art referred to any skill or mastery and was not differentiated from crafts or sciences.
      In modern usage after the 17th century, where aesthetic considerations are paramount, the fine arts are separated and distinguished
      from acquired skills in general, such as the decorative or applied arts.
      Though there is no generally agreed definition of what constitutes art. and ideas have changed over time,
      general descriptions mention an idea of imaginative or technical skill stemming from human agency and creation.
      The nature of art and related concepts, such as creativity and interpretation, are explored in a branch of philosophy known as aesthetics.</p>
      <h2 class="text-success">History</h2>
      <p class="text-justify">
      The oldest documented forms of art are visual arts, which include creation of images or objects in fields including today painting,
      sculpture, printmaking, photography, and other visual media. Sculptures, cave paintings, rock paintings and petroglyphs from the Upper
      Paleolithic dating to roughly 40,000 years ago have been found but the precise meaning of such art is often disputed because so little
      is known about the cultures that produced them. In 2014, a shell engraved by Homo erectus was determined to be between 430,000 and 540,000 years old.
      A set of eight 130,000 years old white-tailed eagle talons bear cut marks and abrasion that indicate manipulation by neanderthals,
      possibly for using it as jewelry. A series of tiny, drilled snail shells about 75,000 years old—were discovered in a South African cave.
      Containers that may have been used to hold paints have been found dating as far back as 100,000 years
      Cave painting of a horse from the Lascaux caves, circa 16,000 BP
      Many great traditions in art have a foundation in the art of one of the great ancient civilizations: Ancient Egypt, Mesopotamia, Persia,
      India, China, Ancient Greece, Rome, as well as Inca, Maya, and Olmec. Each of these centers of early civilization developed a unique
      and characteristic style in its art. Because of the size and duration of these civilizations, more of their art works have survived and
      more of their influence has been transmitted to other cultures and later times. Some also have provided the first records of how artists
      worked. For example, this period of Greek art saw a veneration of the human physical form and the development of equivalent skills to
      show musculature, poise, beauty, and anatomically correct proportions <a href="https://en.wikipedia.org/wiki/Art">read more...</a>
      </p>
      <h2 class="text-success">Skill & Craft</h2>
      <p class="text-justify">
      Art can connote a sense of trained ability or mastery of a medium. Art can also simply refer to the developed and efficient use of a
      language to convey meaning with immediacy or depth. Art can be defined as an act of expressing feelings, thoughts, and observations.
      There is an understanding that is reached with the material as a result of handling it, which facilitates one's thought processes.
      A common view is that the epithet "art", particular in its elevated sense, requires a certain level of creative expertise by the artist,
      whether this be a demonstration of technical ability, an originality in stylistic approach, or a combination of these two. Traditionally
      skill of execution was viewed as a quality inseparable from art and thus necessary for its success; for Leonardo da Vinci, art, neither
      more nor less than his other endeavors, was a manifestation of skill.Rembrandt's work, now praised for its ephemeral virtues, was
      most admired by his contemporaries for its virtuosity.[58] At the turn of the 20th century, the adroit performances of John Singer Sargent
      were alternately admired and viewed with skepticism for their manual fluency,[59] yet at nearly the same time the artist who would become
      the era's most recognized and peripatetic iconoclast, Pablo Picasso, was completing a traditional academic training at which he excelled
      <a href="https://en.wikipedia.org/wiki/Art">read more...</a>
      </p>
  </div>

  <h2 class="mb-5 text-success">11 Different Types of Painting That Every Artist Should Know</h2>
  <ul class="nav-tabs nav justify-content-around" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="oil-tab" data-toggle="tab" href="#oil" role="tab" aria-controls="Oil" aria-selected="true">Oil</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Acrylic-tab" data-toggle="tab" href="#Acrylic" role="tab" aria-controls="Acrylic" aria-selected="false">Acrylic</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Watercolor-tab" data-toggle="tab" href="#Watercolor" role="tab" aria-controls="Watercolor" aria-selected="false">Watercolor</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Gouache-tab" data-toggle="tab" href="#Gouache" role="tab" aria-controls="Gouache" aria-selected="false">Gouache</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Pastel-tab" data-toggle="tab" href="#Pastel" role="tab" aria-controls="Pastel" aria-selected="false">Pastel</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Encaustic-tab" data-toggle="tab" href="#Encaustic" role="tab" aria-controls="Encaustic" aria-selected="false">Encaustic</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Fresco-tab" data-toggle="tab" href="#Fresco" role="tab" aria-controls="Fresco" aria-selected="false">Fresco</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Spray_Paint-tab" data-toggle="tab" href="#Spray_Paint" role="tab" aria-controls="Spray_Paint" aria-selected="false">Spray Paint</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Ink_Wash-tab" data-toggle="tab" href="#Ink_Wash" role="tab" aria-controls="Ink_Wash" aria-selected="false">Ink Wash</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Tempera-tab" data-toggle="tab" href="#Tempera" role="tab" aria-controls="Tempera" aria-selected="false">Tempera</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="Enamel-tab" data-toggle="tab" href="#Enamel" role="tab" aria-controls="Enamel" aria-selected="false">Enamel</a>
    </li>

  </ul>
  <div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active text-justify"  id="oil" role="tabpanel" aria-labelledby="oil-tab">
      For centuries, artists have been using oil paint to create their masterpieces.
      This slow drying medium is made from color pigments suspended in oil.
      Due to its long drying time, artists can take their time producing work.
      Oil paint is often used to create wonderful textured effects thanks to its thick consistency.
      Though it can be messy to work with and requires care when working with mediums that contain toxic elements,
      it's still beloved by artists for the rich colors it produces.
      So, it should come as no surprise that it's one of the most popular types of painting.</div>
    <div class="tab-pane fade text-justify" id="Acrylic" role="tabpanel" aria-labelledby="Acrylic-tab">
      There are a wide array of acrylic paints in terms of texture and drying time. This water-soluble paint dries quickly,
      is non-toxic,and cost-effective, often making it a go-to choice for painters of all skill levels.
      Over time it holds up better than oil paint, as it's not prone to cracking or yellowing.
      There are innumerable acrylic paint techniques and by combining the paint with different mediums,
      artists have flexibility in the final look. Though acrylic is water resistant when completely dry on the canvas,
      its water-soluble nature when damp makes for easy cleanup.</div>
    <div class="tab-pane fade text-justify" id="Watercolor" role="tabpanel" aria-labelledby="Watercolor-tab">
       Typically painted on paper, watercolors are made from pigmentssuspended in a water-based solution. Known for the transparent layers they create,
       watercolor paint remains soluble even when dry. This means that artists can make some corrections even
       when the painting is dry, but this also means that finished work must be protected carefully.
       There are many watercolor techniques that artists use to create different styles of art,
       from realistic portraits to washed out landscapes. Although paper is the most common support,
       watercolors can also be used on surfaces like fabric, wood, leather, and vellum.</div>
    <div class="tab-pane fade text-justify" id="Gouache" role="tabpanel" aria-labelledby="Gouache-tab">
       While gouache is similar to watercolor in that it can be re-wetted, this type of paint dries matte and is a
       heavier paint due to the chalk that's incorporated into it. Gouache also has characteristics similar to
       acrylic in that it's an opaque paint. It's often used together with watercolor, and since it's water soluble,
       it requires a varnish over the top to seal the finished painting. A newer variation is acrylic gouache,
       which uses an acrylic-based binder that allows the paint to become water resistant when dry.</div>
    <div class="tab-pane fade text-justify" id="Pastel" role="tabpanel" aria-labelledby="Pastel-tab">
       Sometimes known as “dry painting,”
       the use of pastels has been popular since the 16th century.
       Their stick form and lack of drying time make them an easy and portable solution for artists.
       The most popular pastels—known as soft pastels—have chalk incorporated into them, but oil pastels with a waxy consistency are also available.
       Colors are typically blended straight onto the support and if you're looking for a watercolor type effect,
       there are also water-soluble pastels. These paintings are fragile, as the pigment can lift from the surface,
       so should be framed under glass.</div>
    <div class="tab-pane fade text-justify" id="Encaustic" role="tabpanel" aria-labelledby="Encaustic-tab">
       This complex technique dates back to ancient Egypt and involves adding pigment to hot beeswax.
       The resulting paste is then typically applied to prepared wood, though canvas can also be used.
       Special tools are then used to shape and sculpt the liquid prior to cooling.
       Contemporary artists often use heat guns to extend the workability of the paint.
       Though encaustic—or hot wax painting—can be difficult to master, it is possible to create complex paintings
       full of dimension and color.</div>
       <div class="tab-pane fade text-justify" id="Fresco" role="tabpanel" aria-labelledby="Fresco-tab">
       Fresco is an ancient technique that is perhaps best-known thanks to Michelangelo's iconic Sistine
       Chapel Ceiling. Buon fresco involves mixing pigment with water and applying it to a still-wet layer of plaster.
       Used for ceiling and wall decorations, the water helps the pigment merge into the plaster, creating a permanent
       bond when dry. Buon fresco—or true fresco—requires artists to work quickly, as the surface is no longer paintable
       once the plaster dries. Another method—fresco secco—requires a binding agent such as egg, glue, or oil to attach to
       a dry plaster surface. This method works better on a rougher surface, but is less durable.</div>
       <div class="tab-pane fade text-justify" id="Spray_Paint" role="tabpanel" aria-labelledby="Spray_Paint-tab">
       Aerosol paint—or spray paint—was first invented in 1949 and became popularized in the 1970s, when graffiti artists
       took advantage of this new technology. Adhering well to nearly any surface, it's most commonly used by mural artists
       and graffiti artists on plaster, brick, and metal. Spray paint dries quickly and is fairly weather resistant, making
       it a durable choice for urban artists. Today, there are many spray paint brands specifically for artists, such as MTN,
       Ironlak, and Belton. Available in an array of hues, artists pair the cans with special caps that control the width of
       the spray. It's possible to find spray paint with different effects and finishes, as well as different pressures and
       coverages. As spray paint does contain toxic substances, it’s always recommended for outdoor use with a mask. Several
       companies have also created water-based spray paint more suitable for working indoors and on canvases.</div>
       <div class="tab-pane fade text-justify" id="Ink_Wash" role="tabpanel" aria-labelledby="Ink_Wash-tab">
       Also known as literati painting, ink wash finds its origins in China and East Asia. The use of black ink in calligraphy
       led to the popularity of brush painting using the same inks. Artists achieve different tonalities by varying the amount
       of ink on the brush and the pressure with which the stroke is applied. Brushstrokes are carefully studied, with calligraphy
       masters spending years perfecting their strokes. Though today colored inks are widely available, black is still the most common ink used.</div>
       <div class="tab-pane fade text-justify" id="Tempera" role="tabpanel" aria-labelledby="Tempera-tab">
       Though less commonly used today, tempera is one of the oldest types of painting and was traditionally created
       by grinding pigments into a binder. The most common type of tempera is egg tempera, which typically uses egg
       yolks mixed with a solution of vinegar or water as a binder. Tempera was quite popular until oil paint came into
       wide use in the 16th century. The fast drying paint is applied in thin, transparent layers and is notable for its
       lack of color deterioration over time. Tempera continued to be used by select artists throughout history, though
       most people know it from Medieval and Renaissance art. Today, it is still used in the Greek and Russian Orthodox
       church for religious icon paintings. In the US, poster paint is sometimes called tempera, though the binders are not the same.</div>
       <div class="tab-pane fade text-justify" id="Enamel" role="tabpanel" aria-labelledby="Enamel-tab">
       This oil-based paint is most often used by sign painters or for decorative painting and pinstriping. It dries to a hard,
       high gloss finish that is weather resistant. Enamel can be used on different surfaces like glass, ceramics, metal, wood,
       and canvas. Due to its toxicity, it's always suggested to work in a well-ventilated area with a mask on. There are also
       water-based enamels that can be used on heavier papers like cardstock. Aside from decorative work and sign painting, many
       fine artists have incorporated enamels into their work. Picasso and Jackson Pollack were both known to use commercial
       enamel paints in their work.</div>
  </div>

  <div class="containter my-5">
    <div class="d-flex justify-content-center">
      <div class="embed-responsive embed-responsive-16by9 my-5 ml-2">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PVhfP2bSlHo" allowfullscreen></iframe>
      </div>
      <div class="embed-responsive embed-responsive-16by9 my-5 ml-2">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oZOsR0TzbJ8" allowfullscreen></iframe>
      </div>
      <div class="embed-responsive embed-responsive-16by9 my-5 ml-2">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/z7ECzduUWx0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>




<style media="screen">
  .carousel-inner {
    height : 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body {
    /* background-color: #ffe6cc; */
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .embed-responsive{
    height:400px;
    width:400px;
  }

</style>
