


<div class="container mt-5">
<h2 class="text-font text-white ml-1">Search Museum</h2>
        <input class="ml-1" id="search-text" type="text" placeholder="Write Your Title">
</div>


<div class="first container">
<div class="row">
  <div class="col-md-6  mb-4">
    <div class="card bg-dark text-white">
      <img src="https://cdn.cnn.com/cnnnext/dam/assets/171227101009-met-museum-new-york-city-full-169.jpg"
      class="card-img-top d-none d-md-block" alt="...">
      <div class="card-body">
        <h3 class="card-title">The Metropolitan Museum</h3>
        <h6 class="card-text text-justify">The Metropolitan Museum of Art of New York City,
           colloquially "the Met", is the largest art museum in the United States.
           With 6,479,548 visitors to its three locations in 2019,
           it was the fourth most visited art museum in the world  <a href="https://www.metmuseum.org/">read more...</a></h6>
           <small>Address: 1000 5th Ave, New York, NY 10028, United States</small>
           <br>
           <small><strong>Tickets: US$12–25</strong></small>
      </div>
    </div>
  </div>
  <div class="col-md-6  mb-4">
    <div class="card bg-dark text-white">
      <img src="https://cdn.pariscityvision.com/library/image/1931.jpg" class="card-img-top d-none d-md-block" alt="...">
      <div class="card-body">
        <h3 class="card-title">Louvre Museum</h3>
        <h6 class="card-text text-justify">The Louvre, or the Louvre Museum, is the world's largest art museum and a historic monument in Paris, France. A central landmark of the city, it is
          located on the Right Bank of the Seine in the city's 1st arrondissement  <a href="https://www.ticketlouvre.fr//louvre/b2c/index.cfm/calendar/eventCode/MusWeb">read more...</a></h6>
          <small>Address: Rue de Rivoli, 75001 Paris, France</small>
           <br>
          <small><strong>Tickets: €0–17</strong></small>
      </div>
    </div>
  </div>
  <div class="col-md-6  mb-4">
    <div class="card bg-dark text-white">
      <img src="https://www.newyorkbyrail.com/wp-content/uploads/2017/11/moma_museums_nyc2.jpg" class="card-img-top d-none d-md-block" alt="...">
      <div class="card-body">
        <h3 class="card-title">Museum of Modern Art</h3>
        <h6 class="card-text text-justify">The Museum of Modern Art is an art museum located
          in Midtown Manhattan, New York City, on 53rd Street between
          Fifth and Sixth Avenues. It plays a major role in developing and collecting modern art, and is often identified as one of the largest and
          most influential museums of modern art in the world  <a href="https://buy.acmeticketing.com/orders/198/calendar?eventId=5ef36ac25eeba32ee256c78d&cart">read more...</a></h6>
          <small>Address: 11 W 53rd St, New York, NY 10019, United States</small>
          <br>
         <small><strong>Tickets: US$14–25</strong></small>
      </div>
    </div>
  </div>
    <div class="col-md-6  mb-4">
      <div class="card bg-dark text-white">
        <img src="https://previews.123rf.com/images/jeafish/jeafish1605/jeafish160500111/57540789-amsterdam-october-3-van-gogh-museum-building-outstanding-with-design-architectured-in-amsterdam-neth.jpg" class="card-img-top d-none d-md-block" alt="...">
          <div class="card-body">
            <h3 class="card-title">Van Gogh Museum</h3>
              <h6 class="card-text text-justify">The Van Gogh Museum is a Dutch art museum dedicated to the works of
              Vincent van Gogh and his contemporaries in the Museum Square in Amsterdam
              South, close to the Stedelijk Museum, the Rijksmuseum, and the Concertgebouw  <a href="https://www.vangoghmuseum.nl/nl">read more...</a></h6>
              <small>Address:  Museumplein 6, 1071 DJ Amsterdam, Netherlands</small>
              <br>
              <small>Tickets: €0–19</small>
          </div>
        </div>
    </div>
  </div>
</div>



<script>

   function fillter (obj, searchPhrase){
     return  obj.children[1].children[0].innerText.toLowerCase().includes(searchPhrase.toLowerCase())
   }


  const cards = document.querySelectorAll('.card')



  const renderCards = function (cards, searchPhrase) {
    cards.forEach(function (card) {
      card.classList.remove('d-none')
      console.dir(card)
      if (! fillter(card, searchPhrase)) {
       card.classList.add('d-none')

      }
    })
  }

  document.querySelector('#search-text').addEventListener('input', function (e) {
    const searchPhrase = e.target.value
    renderCards(cards, searchPhrase)
})

</script>


<style media="screen">

  body{
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);

  }

  .first {
    margin-top: 50px;
    margin-bottom: 100px;
  }


  .card-title{
    font-family: Playball;
  }


  .text-font{
      font-family: Playball;
  }


</style>
