<!DOCTYPE html>
<html>
<head>
<script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =
  h + ":" + m + ":" + s;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>
</head>

<body onload="startTime()">

<div id="txt" class="container text-center display-1"></div>

</body>
</html>

<style media="screen">
   #txt {
     margin-top: 350px;
   }

   body{
   background-color: #ffe6cc; 
   /* background: #C6FFDD;  /* fallback for old browsers */ */
   /* background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */ */
   /* background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
    }
</style>





<!-- <script type="text/javascript">
  const myImage = document.createElement('img');
  myImage.src = 'https://images.unsplash.com/photo-1459908676235-d5f02a50184b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'
  myImage.style.width = "500px";
  document.body.append(myImage);
  myImage.style.transition = "all 2s";

  setInterval(() => {
      const x = Math.floor(document.body.clientWidth * Math.random())
      const y = Math.floor(document.body.clientHeight * Math.random())
      myImage.style.transform = `translate(${x}px,${y}px)`;
  }, 2000)
</script> -->
