<!DOCTYPE html>
<html>
   <head>
      <script>
         function startTime() {
           var today = new Date();
           var h = today.getHours();
           var m = today.getMinutes();
           var s = today.getSeconds();
           m = checkTime(m);
           s = checkTime(s);
           document.getElementById('txt').innerHTML =
           h + ":" + m + ":" + s;
           var t = setTimeout(startTime, 1000);
         }
         function checkTime(i) {
           if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
           return i;
         }
      </script>
   </head>

   <body onload="startTime()">


             <div class="container">
               <p class="lead my-3 text-center display-4 text-white">Welcome to Art Galley</p>
               <p id="txt" class=" text-center display-1 text-white"></p>
             </div>


   </body>
</html>







<style media="screen">
body{
  background-image: url("https://images.unsplash.com/photo-1595162321500-cd494be4b4d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1928&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  }

  .container {
    margin-top: 350px
  }


</style>





<!-- <script type="text/javascript">
  const myImage = document.createElement('img');
  myImage.src = 'https://images.unsplash.com/photo-1459908676235-d5f02a50184b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'
  myImage.style.width = "500px";
  document.body.append(myImage);
  myImage.style.transition = "all 2s";

  setInterval(() => {
      const x = Math.floor(document.body.clientWidth * Math.random())
      const y = Math.floor(document.body.clientHeight * Math.random())
      myImage.style.transform = `translate(${x}px,${y}px)`;
  }, 2000)
</script> -->
