<!DOCTYPE html>
<html>
   <head>
      <script>
         function startTime() {
           var today = new Date();
           var h = today.getHours();
           var m = today.getMinutes();
           var s = today.getSeconds();
           m = checkTime(m);
           s = checkTime(s);
           document.getElementById('txt').innerHTML =
           h + ":" + m + ":" + s;
           var t = setTimeout(startTime, 1000);
         }
         function checkTime(i) {
           if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
           return i;
         }
      </script>
   </head>

   <body onload="startTime()">


             <div class="text-font container">
               <p class="lead my-3 text-center display-4 text-white">Welcome to Art Gallery</p>
               <p id="txt" class=" text-center display-1 text-white"></p>
             </div>


   </body>
</html>

<style media="screen">
body{
  background-image: url("https://images.unsplash.com/photo-1495218128687-72d990041786?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  }

  .container {
    margin-top: 250px
  }

  .text-font {
      font-family: Playball;
  }

</style>
