<div class="container text-center">
  <h1>Edit</h1>
</div>

<%= render 'form', art: @art %>



<style media="screen">
  body {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
  }

  h1 {
    font-family: Playball;
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.container {
  margin-top: 100px;
}
</style>
