<div class="container mt-3 mb-3">
   <p class="text-center" id="notice"><%= notice %></p>
</div>
<%= render 'list' %>



<style media="screen">

.text-center {
  font-family: Playball;
  font-size: 30px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
