<div class="container text-center">
<h1>Favourite Arts</h1>
</div>



<%= render 'list' %>






<style media="screen">
  body {
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
  
  }

  h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.container {
  margin-top: 100px;
}
</style>