
<div class="container text-center">
  <h1>Create Your Arts</h1>
</div>

<%= render 'form', art: @art %>



<style media="screen">
  body {
    background: #948E99;
    background: -webkit-linear-gradient(to right, #2E1437, #948E99);
    background: linear-gradient(to right, #2E1437, #948E99);
  }
  .container{
  margin-top: 100px;
  }


h1 {
  font-family: Playball;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


</style>
